/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #f0f2f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    display: block;
}

.hamburger-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
}

.hamburger-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.links.open {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

@media (max-width: 1300px) {
    .links {
        display: none;
        flex-direction: column;
        gap: 0;
    }

    .hamburger-icon {
        display: flex;
    }
}
